---
import { BashScript, BashTerminal, InlineCode } from "~/components/ui/code";
import { bashScript } from "./code";
import ScriptLink from "./ScriptLink.astro";

type Props = {
  os: "macos" | "linux";
};

const { os } = Astro.props as Props;

const filename = "initialize_kotlin_application.sh";
const source = `scripts/${os}/${filename}`;
---

<BashScript code={bashScript}>
  <Fragment slot="title">Inicializar Proyecto Kotlin</Fragment>
  <ScriptLink slot="source" source={source} />
</BashScript>
<p>
  Guarda este script como <InlineCode
    code={filename}
    lang="bash"
  /> y ejecútalo en la terminal:
</p>
<BashTerminal
  code={`
    chmod +x ./${source}
    ./${source} "intro-kt"
  `}><Fragment slot="title">Ejecutar Script</Fragment></BashTerminal
>
