---
import * as Icons from "~/assets/img/icons";
import { REPO_PLATFORM_HOST, type RepoPlatform } from "~/utils/git";

export interface Props {
    user: string;
    repo: string;
    platform: RepoPlatform;
}

const { user, repo, platform } = Astro.props;
const href = `https://${REPO_PLATFORM_HOST[platform]}/${user}/${repo}`;

const Icon = platform === "github" ? Icons.GithubLogo : Icons.GitlabLogo;
---

<a
    href={href} target="_blank"
    rel="noopener noreferrer"
    class:list={[
        "inline-flex",
        "items-center",
        "gap-2",
        "text-blue-600",
        "dark:text-blue-400",
        "hover:underline",
        "text-sm",
    ]}
>
    <Icon class="h-4 w-4 shrink-0" />
    <span class="truncate">{user}/{repo}</span>
</a>
