---
import { LangLink } from ".";
type Props = {
    slug?: string;
    name?: string;
    srcLight?: string;
    srcDark?: string;
};
const DEFAULT_LIGHT = "https://bashlogo.com/img/symbol/png/full_colored_dark.png";
const DEFAULT_DARK = "https://bashlogo.com/img/symbol/png/full_colored_light.png";

const { slug, name = "Bash", srcLight = DEFAULT_LIGHT, srcDark = DEFAULT_DARK } = Astro.props as Props;
const base = (slug ?? Astro.url.pathname).replace(/\/$/, "");
const href = `${base}/bash/`;
---
<span class="contents">
    <LangLink {href} {name}>
        <Fragment slot="icon">
            <img
                src={srcLight} alt=""
                width="24" height="24"
                class="object-contain dark:hidden" loading="lazy"
                decoding="async" aria-hidden="true"
            />
            <img
                src={srcDark} alt=""
                width="24" height="24"
                class="object-contain hidden dark:inline" loading="lazy"
                decoding="async" aria-hidden="true"
            />
        </Fragment>
    </LangLink>
</span>
